# ==========================================
# Variáveis de Ambiente - Radar Cidadão
# ==========================================

# Configurações da Base de Dados
mysqlhost=db
mysqluser=seu_utilizador_aqui
mysqlpassword=sua_palavra_passe_segura
mysqldatabase=radar_cidadao
mysqlport=3306

# Configurações da Aplicação Web
port=5000